.title {
  text-align: center;
  color: red;
  font-size: 110px;
  font-family: 'Amatic SC', cursive;
  background:pink;
}

/*-------slogan-------*/

#slogan{
  font-family: 'Amatic SC',cursive;
  text-align: center;
  color: purple;
  font-size: 60px;  
  
}

a:link 
{ 
text-decoration:none; 
color: purple;
font-size: 40px;
font-weight : bold;
} 
.perfImages {
    width: 90%;
}

#menu {
  margin-top: 20px;
  text-align: center;
}

#menu > ul > li {
  padding-left: 10px;
}
   
/*-------Performances 1-------*/


/*--------onglets-------*/

ul {
  list-style:inside;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  list-style: none; 
  display: block;
  float: left;
}
ul, li {
  font-family: 'Amatic SC',cursive;
}

ul,li,p {
  font-size: 45px;
}
/*--------performances 2-------*/


h2 {text-align:center;
    color: #2e5d94;
    font-family: 'Amatic SC',cursive;
    font-size: 40px;
  }
#Laugh,#Dream,#Marvelat { 
  border:2px pink dashed;
  position:relative;
  width:25%; 
  height:100%;
  text-align: center;
  background:#E0ECF8;
  margin-left: 5%;
}

/*
#Laugh {left:2%; font-family:}
#Dream {left:38%;}
#Marvelat{left:75%;}
*/

 
    

h3 {
    color: purple;
    
}
p {
    font-size: 17px;
    font-family: verdana;
    text-align:center;

}

/*--------About Us-------*/

#About_us
{ 
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  width: 100%;
  color: bleu;
  text-shadow: 3px 3px 3px white;
  margin-top:10px;
  margin-bottom:1em;
}


/*-------Prices-------*/
#Prices {
font-family: 'Amatic SC', cursive;
}
table { 
  border-collapse: collapse;
  margin-left:10px;
}
td, th {
  border: 3px solid black;
  border-color: black;
  background-color:#E0F8F1;
}

caption { 
  font-size:25px;
}

caption,th,td {
        font-family: verdana;
}


/*--------Contact Us-------*/

#Contact {
font-family: 'Amatic SC', cursive;
}

#link,#link2,#link3 {
    font-size: 20px;
    color:grey;
    margin-left:1px;
}
#Send{
  margin-left:10px;
}

#footer {
  text-align: center;
}